@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=ZCOOL+QingKe+HuangYou&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-image: url('../images/space-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    color: white;
}

/* header and site headings */

header {
    background: rgba(173, 76, 189, .7);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header h1 {
    font-size: 250%;
    padding: 15px;
    text-align: center;
}

h2,
h3 {
    font-size: 200%;
    padding: 10px;
}

#demo,
#demo2 {
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}

/* game area */

.container {
    display: flex;
    flex-wrap: wrap;
}

.container .section {
    width: 350px;
    margin: 20px 50px;
}

.score {
    font-size: 100%;
    margin-left: 10px;
}

.section .section-info {
    background: rgb(10, 10, 10);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.info span,
.section-info h3 {
    font-size: 25px;
    font-weight: bold;
    margin: 0px 10px;
    font-family: sans-serif;
    color: white;
}

.show {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(12, 10, 39, .7);
    height: 220px;
}

.show i {
    font-size: 100px;
    color: orange;
}

.result {
    margin-top: 20px;
    font-size: 1.2rem;
}

/* game controls */

.selection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100% height: 100px;
}

.selection button {
    margin: 10px;
    padding: 25px;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    background: rgba(12, 10, 39, .7);
    font-size: 33px;
    color: orange;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:hover {
    transform: scale(1.2);
    transition: 0.4s;
}

/* hide show button */

.toggle-area {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.toggle-button {
    font-family: 'ZCOOL QingKe HuangYou';
    background: rgba(173, 76, 189, .7);
    color: white;
    font-size: 200%;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 1px 0 rgb(0 0 0 / 25%);
    margin-bottom: 10px;
    width: 200px;
}

/* game rules */

img {
    max-width: 100%;
    display: block;
    height: 200px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 0.8;
}

.game-rules-text {
    font-size: 100%;
    margin: 10px -1rem 0;
    width: calc(100% + 2rem);
}

.rules-grid {
    display: inline-flex;
    padding: .8rem;
}

.rules-name {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.rules-name i {
    font-size: 200%;
    text-align: center;
}

.conquers,
.lose {
    display: flex;
    margin-left: 1rem;
    gap: 0.5rem;
    flex-direction: column;
}

.conquers.label {
    color: green;
}

.lose.label {
    color: red;
}

.symbol {
    display: block;
}

ol {
    list-style: none;
    counter-reset: steps;
    padding: 15px;
    background: hsl(270deg 74% 6% / 50%); 
}

ol li {
    counter-increment: steps;
    padding: 3px;

}

ol li::before {
    content: counter(steps);
    margin-right: 0.5rem;
    background: rgba(173, 76, 189, .7);
    color: white;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    display: inline-grid;
    place-items: center;
    font-weight: bolder;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, .25);
}

ol ul li::before {
    background: rgba(173, 76, 189, .7);
}

/* footer */

.social-networks {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    font-size: 1.5rem;
    padding: 20px;
}

footer {
    background: rgba(173, 76, 189, .7);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer a {
    color: white;
    font-size: 120%;
}

footer a:hover {
    color: orange;
}

.area {
    min-height: calc(100vh - 190px - 2.4rem);
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin: 1.2rem;
    align-items: center;
}

.hide {
    display: none;
}

/* media queries */

/* unfolded phones (mobile phones, 320px and bigger) */
@media (min-width: 320px) {
    .container {
        justify-content: center;
    }
}

/* small devices (mobile phones, less than 576px) */
@media (min-width: 576px) {
    .container {
        justify-content: center;
    }

    img {
        height: 220px;
        width: 220px;
    }
}

/* medium devices (tablets, less than 768px) */
@media (min-width: 768px) {
    header h1 {
        font-size: 300%;
    }

    h2,
    h3 {
        font-size: 250%;
    }

    .game-rules-text {
        font-size: 160%;
    }

    img {
        height: 270px;
        width: 270px;
    }

    footer a {
        font-size: 160%;
    }

    .selection button {
        font-size: 45px;
    }
}

/* large devices (laptops, less than 992px) */

@media (min-width: 992px) {
    header h1 {
        font-size: 320%;
    }

    h2,
    h3 {
        font-size: 270%;
    }

    .game-rules-text {
        font-size: 180%;
    }

    img {
        height: 300px;
        width: 300px;
    }

    footer a {
        font-size: 180%;
    }

    .selection button {
        font-size: 55px;
    }
}

/* extra large devices (desktops, less than 1200px) */

@media (min-width: 1200px) {
    header h1 {
        font-size: 350%;
    }

    h2,
    h3 {
        font-size: 300%;
    }

    .game-rules-text {
        font-size: 200%;
    }

    img {
        height: 350px;
        width: 350px;
    }

    footer a {
        font-size: 200%;
    }

    .selection button {
        font-size: 60px;
    }

}